.container-fluid{
    margin: 2%;
}

img{
    height:65%;
    width:100%;
}

.card{
    height: 100%;
    width: 100%;
}

.col-4{
    /* border: 2px solid black; */
    width:5%;
    height: 15rem;
}

